{% extends "note/indice.html" %}
{% block content %}

	<p id="subtitulo">Mis Carpetas</p>

	{% for a in listaF %}
	 	<ul class="b">
		<li><a class="btn btn-default">{{a}}</a>	
		<a class="boton_personalizado" href="/borrarcarpeta/{{a}}"><span class="icon-bin"></span></a>
<br>
</br>
</li>
</ul>	
	{% endfor %}


	<p id="subtitulo">Añadir Nueva Carpeta</p>
	<p id="contenido">Introduce el nombre de la nueva carpeta: </p>

	<form id="borde" action="{% url 'carpeta' %}" method="POST">{% csrf_token %}
	    {{form.as_p}}
	    <button type="submit">Crear Carpeta</button>
	</form>

	<br>
	<center><p>No se admiten acentos ni la letra ñ para los nombres de las carpetas. </p>
	<br>
<input type="button" value="Volver atrás" onclick="history.back()" style="font-family: Verdana; font-size: 10 pt">

	<br>
{% endblock content %}

