{% extends "note/indice.html" %}
{% block content %}

	<p id="subtitulo">Editar Datos De Usuario</p>
	<p id="contenido">Para añadir Token:</p>
	<center><p>Acceda a la siguiente URL, permita acceso e introduzca el codigo token:</p>
	<center><p class="italic">{{url}}</p>

	<form id="borde" method='post' action='' enctype="multipart/form-data">{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="submit" value="Enviar">
	</form>
	<br>

<input type="button" value="Volver atrás" onclick="history.back()" style="font-family: Verdana; font-size: 10 pt">

	<br>
{% endblock content %}
